/*
 *= require nprogress
 *= require components/flash_message
 *= require components/custom-nprogress

 *= require_self
*/

@import "compass/reset";
@import "compass";
@import "ceaser-easing";
@import "font-awesome";

@import "modules/mixins";

$font_color: #5d5d5d;
$bg_color: #f7f7f7;
$high_color: #f7ee5e;
$thin_color: #dbdbdb;

%clearfix {
  *zoom: 1;

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

*, *:before, *:after {
  @include box-sizing(border-box);
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 13px;
  font-family: $ff-gothic-full;
  background: $bg_color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  @include font-colors($font_color);
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-family: 'Novecento Sans W01 Bd', sans-serif;
  font-size: 33px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

h2 {
  font-family: 'Novecento Sans W01 Bd', sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

h3 {
  font-family: 'Novecento Sans W01 Bd', sans-serif;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  margin-bottom: 15px;
}

ul {
  li {
    margin-bottom: 5px;
  }
}

ul.horizontal {
  @extend %clearfix;
  display: inline-block;

  li {
    float: left;
    margin-left: 10px;
  }

  li:first-child {
    margin-left: 0;
  }

  li:not(:first-child)::before {
    content: "•";
    margin-right: 10px;
  }
}

#map {
  width: 100%;
  height: 100%;
}

#error_explanation {
  background: #ededed;
  border: 4px dashed #bdbdbd;
  padding: 10px;
}

.group {
  margin: 20px 0;
}

.group-large {
  margin: 80px 0;
}

.input-group {
  margin: 5px 0 0;
}

input[type=text], input[type=email], input[type=password] {
  padding: 12px;

  border: 1px solid #cacaca;
  @include border-radius(2px);
  outline: none;
  background: #fff;
  font-size: 30px;
  font-weight: thin;
}

.address-field {
  max-width: 870px;
  position: relative;
  margin: 24px auto 12px;

  .text-field {
    width: 100%;
    height: 100%;
  }

  .submit-button {
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 0 20px;

    border: none;
    background: none;
    cursor: pointer;
    outline: none;

    &:hover {
      background: #f9c06f;

      i {
        color: #fff;
      }
    }

    i {
      font-size: 40px;
      color: #a29e96;
    }
  }
}

.clayout {
  padding: 15px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: inline-flex;
  -webkit-flex-direction: column;
}

.header {
  width: 100%;
  border-top: 5px solid #cc2738;
  background: #fff;
  @extend %clearfix;

  .logo {
    float: left;
    display: block;
    background: url(asset-path('logo_black.png'));
    @include fixed-size(logo_black);
  }

  .menu {
    float: right;
  }
}

.content {
  width: 100%;
  flex: 1 1 auto;
  position: relative;
}

.controlls {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  @extend %clearfix;

  section {
    float: left;
    height: 100%;
  }

  .maps {
    width: 70%;
  }

  .list {
    width: 30%;
    overflow: scroll;
  }
}

.box-list {
  li {
    display: block;
    background: #fff;
    padding: 30px 15px;
    @include box-shadow(0 0 4px #ededed);
  }
}

.footer {
  background: #fff;
}
